*.class
*/SSLog.txt*
/LittleSmartTool2/data
/LittleSmartTool2/*.zip
# Package Files #
*.war
*.ear
*.log
.DS_Store

**/build/
/LittleSmartTool2/build/
/LittleSmartTool2/dist/
**/nbproject/private/
/LittleSmartTool2/logs/*.*