*.class
*/SSLog.txt*
/LittleSmartTool2/*.zip
# Package Files #
*.war
*.ear
*.log
Thumbs.db
.DS_Store

**/build/
/LittleSmartTool2/data/CustomIRCommands/
/LittleSmartTool2/build/
/LittleSmartTool2/dist/
**/nbproject/private/
/LittleSmartTool2/logs/*.*